@import url("https://use.typekit.net/kvh4qba.css");

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block
}

body {
  line-height: 1
}

ol,
ul {
  list-style: none
}

blockquote,
q {
  quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Regular.ttf)
}

* {
  font-family: inherit
}

html {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 10px
}

body {
  font-size: 1.4rem;
  color: #000
}

.wrap {
  width: 1280px
}

.header-1,
header {
  width: 100%
}

.header-1 {
  height: 1.5rem;
  background-color: #323137
}

.header-2 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  height: 20rem;
  padding: 0 4rem
}

.header-2 h1 {
  right: 8rem;
  bottom: -10.7rem;
  text-align: right;
  font-size: 5.5rem;
  font-weight: 800;
  line-height: 1.3;
  position: absolute;
  z-index: 100
}

.header-2 h1 span {
  color: #f8bf37
}

.header-2 img {
  height: 18rem
}

.header-3 {
  background-color: #f3cb3a;
  height: 600px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center
}

.header-3,
.header-3 .wrap {
  position: relative
}

.header-3 img.Tick {
  position: absolute;
  width: 100%;
  top: 50px
}

.foto {
  width: 800px;
  position: absolute;
  top: 250px;
  left: 150px;
  z-index: 50
}

.foto img {
  width: 100%;
  box-shadow: 1px 1px 8px 1px #00000082
}

.header-4 {
  background-color: #f8bf37;
  height: 1800px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center
}

.header-4,
.header-4 .wrap {
  position: relative
}

.header-4 h1 {
  font-size: 5.5rem;
  font-weight: 800;
  text-align: left;
  position: absolute;
  left: 5%;
  bottom: 1rem;
  line-height: 1.3;
  z-index: 1
}

.header-4 h1 span {
  color: #fff
}

.header-4_buttons {
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 450px;
  left: 140px
}

.header-4_button {
  font-weight: 800;
  letter-spacing: 1px;
  border: 1px solid #fff;
  padding: 1rem 2rem;
  color: #fff;
  cursor: pointer;
  margin: 0 1rem
}

.header-4_button:hover {
  background-color: #ffd652
}

.header-4_redes {
  position: absolute;
  bottom: 1rem;
  right: 2%;
  font-weight: 800;
  text-align: right
}

.header-4_redes h4 {
  letter-spacing: 2.6px;
  margin-bottom: .4rem
}

.header-4_redes h5 {
  font-size: .8rem
}

.header-4_redes img {
  width: 5rem
}

.header-4_overlay {
  background-color: #fff;
  width: 400px;
  height: 625px;
  position: absolute;
  right: 100px;
  top: -20px;
  z-index: 55;
  color: #000;
  padding: 8rem 5rem;
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  box-shadow: 1px 1px 8px 1px #00000082
}

.header-4_overlay img {
  width: 5rem
}

.header-4_overlay article p {
  font-family: source-serif-pro, serif;
  font-weight: 800;
  font-size: 1.4rem;
  letter-spacing: 1px;
  line-height: 1.8
}

.header-4_overlay_overlay {
  position: absolute;
  background-color: #f8bf37;
  right: -40px;
  top: 45%;
  border: 2px solid #000;
  padding: 1rem 2rem
}

.header-4_overlay_overlay span {
  font-size: 1rem;
  font-weight: 800
}

.header-4_overlay_overlay p {
  margin-top: .7rem;
  font-size: 3rem;
  font-weight: 800
}

.header-4_bottom-tick {
  position: absolute;
  bottom: 0;
  transform: scaleX(-1)
}

.edificio {
  width: 800px;
  position: absolute;
  top: 475px;
  left: 100px
}

.edificio h2 {
  font-size: 4rem;
  right: -200px;
  top: 450px;
  color: #fcd351;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: 1px
}

#EdificioTexto1,
#EdificioTexto2,
#EdificioTexto3,
#EdificioTexto4,
.edificio h2 {
  position: absolute
}

#EdificioTexto1 {
  top: 200px;
  left: 0;
  font-weight: 800;
  text-align: right;
  line-height: 1.3
}

#EdificioTexto1 img {
  width: 4rem;
  text-align: center
}

#EdificioTexto2 {
  top: 610px;
  left: 0;
  font-weight: 800;
  line-height: 1.3;
  text-align: right
}

#EdificioTexto2 span {
  color: #fff;
  font-size: 2rem
}

#EdificioTexto2 h4 {
  font-size: 2.5rem
}

#EdificioTexto2 h4,
#EdificioTexto2 h5 {
  display: inline-block
}

#EdificioTexto3 {
  top: 340px;
  right: -100px;
  font-weight: 800;
  line-height: 1.3
}

#EdificioTexto3 h4 {
  font-size: 2.5rem;
  display: inline-block
}

#EdificioTexto3 h4 span {
  color: #fff
}

#EdificioTexto4 {
  top: 940px;
  right: 100px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 800;
  line-height: 1.3
}

#EdificioTexto4 img {
  height: 4rem
}

.pulse {
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #ffffff30;
  border-radius: 50%;
  animation: radar 2s infinite;
  -webkit-animation: radar 2s infinite;
  transition: all ease-in
}

#EdificioPulse1 {
  top: 245px;
  left: 206px
}

#EdificioPulse2 {
  top: 640px;
  left: 206px
}

#EdificioPulse3 {
  top: 930px;
  left: 255px
}

#EdificioPulse4 {
  top: 365px;
  left: 655px
}

#RinconPulse1 {
  top: 59px;
  left: 249px
}

#RinconPulse2 {
  top: 402px;
  left: 430px
}

#RinconPulse3 {
  top: 89px;
  left: 644px
}

#RinconPulse4 {
  top: 262px;
  left: 684px
}

@keyframes radar {
  1% {
    width: 5px;
    height: 5px;
    margin-left: -2.5px;
    margin-top: -2.5px;
    border-color: #bbb
  }

  to {
    width: 90px;
    height: 90px;
    margin-left: -45px;
    margin-top: -45px;
    border-color: #333
  }
}

#Galeria {
  position: relative;
  display: flex;
  justify-content: center;
}

.galeria-slick-item {
  max-height: 800px;
  overflow-y: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#Galeria img {
  width: 100%
}

.galeria-overlay {
  padding: 2rem 2rem 3rem;
  background-color: #f8bf37;
  bottom: 2rem;
  right: 0;
  position: absolute
}

.galeria-overlay span {
  font-size: 1rem;
  font-weight: 800
}

.galeria-overlay p {
  margin-top: .7rem;
  font-size: 3rem;
  font-weight: 800
}

#Rincon {
  background-color: #ffcc2a;
  padding: 4rem;
  -ms-flex-pack: center;
  justify-content: center;
  height: 850px;
  overflow: hidden
}

#Rincon,
#Rincon .wrap {
  display: -ms-flexbox;
  display: flex
}

#Rincon .wrap {
  position: relative;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center
}

#Rincon h1 {
  color: #ffda64;
  font-size: 5rem;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: 2px;
  margin-right: auto
}

.layout {
  width: 950px;
  margin-top: 10rem;
  position: relative
}

.layout .pulse {
  background-color: #ffffff62
}

.layout img {
  width: 100%;
  height: 100%
}

.dormitorios {
  position: absolute;
  right: 0;
  width: 450px;
  top: 130px
}

.dormitorios h3 {
  font-size: 5rem;
  font-weight: 800;
  color: #fff
}

.dormitorios h3 span {
  color: #000;
  font-size: 4.5rem
}

.dormitorios-bar {
  background-color: #e5ae00;
  padding: 1rem;
  width: 700px
}

.dormitorios-bar span {
  font-weight: 800;
  font-size: 1.2rem
}

.rincon-reserva {
  padding: 1rem 2rem;
  border: 2px solid #000;
  position: absolute;
  bottom: 4rem;
  right: 0;
  background-color: #e5ae00
}

.rincon-reserva span {
  font-size: 1rem;
  font-weight: 800
}

.rincon-reserva p {
  margin-top: .7rem;
  font-size: 3rem;
  font-weight: 800
}

#Financiamiento {
  min-height: 400px;
  padding: 4rem 0 18rem
}

#Financiamiento,
#Financiamiento .wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center
}

#Financiamiento .wrap {
  -ms-flex-direction: column;
  flex-direction: column
}

#Financiamiento h1 {
  right: 8rem;
  text-align: right;
  font-size: 5.5rem;
  font-weight: 800;
  line-height: 1.3;
  z-index: 100;
  -ms-flex-item-align: end;
  align-self: flex-end;
  margin-bottom: 2rem
}

#Financiamiento h1 span {
  color: #f8bf37
}

.financiamiento_overlay {
  background-color: #fff;
  width: 540px;
  height: 325px;
  z-index: 55;
  color: #000;
  padding: 5.5rem 5rem;
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  box-shadow: 1px 1px 8px 1px #00000082
}

.financiamiento_overlay img {
  width: 5rem
}

.financiamiento_overlay article p {
  font-family: source-serif-pro, serif;
  font-weight: 800;
  font-size: 1.5rem;
  letter-spacing: 1px;
  line-height: 1.8
}

.financiamiento_reservar {
  font-size: 2.5rem;
  font-weight: 800;
  margin-top: 10rem;
  padding: 1.75rem 1rem;
  border: 2px solid #000;
  cursor: pointer;
}

.financiamiento_reservar:hover {
  color: white;
  background-color: black;
}

#Mapa {
  background-color: #000;
  height: 400px;
  position: relative
}

#Mapa p {
  color: #ffc200;
  position: absolute;
  right: 3rem;
  top: 2rem;
  line-height: 1.4;
  text-align: right
}

#Mapa .mapa-circle {
  height: 500px;
  width: 500px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 250px);
  left: calc(50% - 250px);
  z-index: 10;
  border: 8px solid #000;
  overflow: hidden
}

#Mapa .mapa-circle iframe {
  width: 100%;
  height: 100%;
  border-radius: 50%
}

#Mapa img {
  width: 200px;
  position: absolute;
  width: 270px;
  top: -145px
}

footer {
  display: -ms-flexbox;
  display: flex;
  background-color: #cecece;
  color: #fff;
  padding: 1rem 4rem 2rem;
  -ms-flex-align: center;
  align-items: center
}

footer a {
  color: #fff;
  text-decoration: none;
  margin-left: auto;
  letter-spacing: 3px;
  font-size: 1.7rem;
  font-weight: 800
}

footer img {
  width: 17rem
}

ul.slick-dots {
  position: absolute;
  display: flex;
  bottom: 3rem;
}

ul.slick-dots li button {
  font-size: 0;
  background-color: white;
  border-radius: 50%;
  border: none;
  height: 1.5rem;
  width: 1.5rem;
  box-sizing: border-box;
  margin: 0 1rem;
  cursor: pointer;
}

ul.slick-dots li.slick-active button {
  background-color: #161620;
}

a {
  color: inherit;
  text-decoration: none;
}

.form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
  background-color: rgba(187, 187, 187, 0.808);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: scale(0, 0);
  transition: 150ms all ease;
}

.form-overlay.form-overlay-open {
  transform: scale(1, 1);
}

.form-overlay h2 {
  font-size: 2.5rem;
  line-height: 1.6;
  font-weight: 700;
  width: 80%;
  text-align: center;
  margin-bottom: 6rem;
  color: #383838;
}

.form-overlay .Informacion-right {
  margin: auto;
  width: 90%;
  max-width: 800px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(#f0f0f0, #e5e5e5);
  padding: 10rem 0 5rem;
  border-radius: 6px;
  box-shadow: 0px 5px 20px #80808054, 0px 1px 4px 1px #8e8e8e9c;
  position: relative;
  transform: scale(0.75);
}

.form-overlay .Informacion-right .Informacion-right-volver {
  position: absolute;
  left: 3rem;
  top: 3rem;
  cursor: pointer;
}

.form-overlay .Informacion-right .Informacion-right-volver p {
  font-size: 1.3rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.form-overlay .Informacion-right form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.form-overlay .Informacion-right form input,
.form-overlay .Informacion-right form textarea {
  border: none;
  border-radius: 8px;
  padding: 1.5rem;
  width: 80%;
  margin: 1rem 0;
  font: inherit;
  letter-spacing: -1px;
}

.form-overlay .Informacion-right form textarea {
  height: 100px;
  resize: none;
  font: inherit;
}

.form-overlay .Informacion-right .btn-enviar {
  margin-bottom: 0;
  margin-top: 2rem;
  border: 1px solid #161620;
  padding: 1.25rem 2.5rem;
}
