@import url("https://use.typekit.net/kvh4qba.css");

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block
}

body {
  line-height: 1
}

ol,
ul {
  list-style: none
}

blockquote,
q {
  quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Regular.ttf)
}

* {
  font-family: inherit
}

html {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 10px
}

body {
  font-size: 1.4rem;
  color: #000
}

.wrap {
  width: 1280px
}

header {
  width: 100%
}

#Background-wrap {
  background: linear-gradient(to top right, #b2d900, #577f00);
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center
}

#Background-wrap,
#Background-wrap .w1 .wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center
}

#Background-wrap .w1 .wrap {
  -ms-flex-direction: columnn;
  flex-direction: columnn;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 10rem;
  position: relative;
  padding-bottom: 25rem;
  max-width: 1200px;
  width: 100%;
}

#Background-wrap .w1 .wrap img {
  width: 100%;
  height: 100%;
  margin-bottom: 4rem
}

#Background-wrap .w1 .wrap h1 {
  font-size: 5.5rem;
  right: 2rem;
  position: absolute;
  color: #9bb651;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: 1px
}

.header-1 {
  width: 100%;
  height: 1.5rem;
  background-color: #323137
}

.header-2 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  height: 18rem
}

.header-2 h1 {
  text-align: center;
  font-size: 8.5rem;
  font-weight: 800;
  line-height: 1.3;
  letter-spacing: 3rem;
  z-index: 100
}

.h1wrap {
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 400px;
}

.h1wrap h1 {
  text-align: right
}

.whitebar {
  height: 1rem;
  width: 100%;
  background-color: #fff
}

.w2 {
  width: 100%;
  box-sizing: border-box
}

.header-4_overlay {
  background-color: #fff;
  width: 400px;
  height: 555px;
  position: absolute;
  left: 70px;
  top: -105px;
  z-index: 55;
  color: #000;
  padding: 8rem 5rem;
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  box-shadow: 1px 1px 8px 1px #00000082
}

.header-4_overlay img {
  width: 5rem
}

.header-4_overlay article p {
  font-size: 1.4rem;
  font-weight: 800;
  letter-spacing: 1px;
  line-height: 1.8;
  font-family: source-serif-pro, serif
}

.header-4_overlay_overlay {
  position: absolute;
  background-color: #ceca38;
  right: -55px;
  top: 55%;
  border: 2px solid #000;
  padding: 1rem 2rem
}

.header-4_overlay_overlay span {
  font-size: 1rem;
  font-weight: 800
}

.header-4_overlay_overlay p {
  margin-top: .7rem;
  font-size: 3rem;
  font-weight: 800
}

.header-4_redes {
  position: absolute;
  bottom: 3rem;
  left: 3rem;
  font-weight: 800;
  text-align: left
}

.header-4_redes h4 {
  letter-spacing: 2.6px;
  margin-bottom: .4rem
}

.header-4_redes h5 {
  font-size: .8rem
}

.header-4_redes img {
  width: 5rem !important;
  margin-bottom: 0 !important
}

.w2 {
  padding: 4rem;
  -ms-flex-pack: center;
  justify-content: center;
  height: 950px;
  overflow: hidden;
  background: linear-gradient(to top right, #b3da00, #7ea500)
}

.w2,
.w2 .wrap {
  display: -ms-flexbox;
  display: flex
}

.w2 .wrap {
  position: relative;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center
}

.w2 h1 {
  color: #b2cc51;
  font-size: 5.5rem;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: 2px;
  margin-right: auto
}

.dormitorios {
  position: absolute;
  right: 0;
  width: 450px;
  top: 130px
}

.dormitorios h3 {
  font-size: 5rem;
  font-weight: 800;
  color: #fff
}

.dormitorios h3 span {
  color: #000;
  font-size: 4.5rem
}

.dormitorios-bar {
  background-color: #c6c457;
  padding: 1rem;
  width: 700px
}

.dormitorios-bar span {
  font-weight: 800;
  font-size: 1.2rem
}

.rincon-reserva {
  padding: 1rem 2rem;
  border: 2px solid #000;
  position: absolute;
  bottom: 4rem;
  right: 0;
  background-color: #c6c457
}

.rincon-reserva span {
  font-size: 1rem;
  font-weight: 800
}

.rincon-reserva p {
  margin-top: .7rem;
  font-size: 3rem;
  font-weight: 800
}

.layout {
  width: 950px;
  margin-top: 10rem;
  position: relative;
  margin-bottom: 5rem
}

.layout .pulse {
  background-color: #ffffff62
}

.layout img {
  width: 100%;
  height: 100%
}

@keyframes radar {
  1% {
    width: 5px;
    height: 5px;
    margin-left: -2.5px;
    margin-top: -2.5px;
    border-color: #bbb
  }

  to {
    width: 90px;
    height: 90px;
    margin-left: -45px;
    margin-top: -45px;
    border-color: #333
  }
}

.pulse {
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #ffffff30;
  border-radius: 50%;
  animation: radar 2s infinite;
  -webkit-animation: radar 2s infinite;
  transition: all ease-in
}

#RinconPulse1 {
  top: 70px;
  left: 313px
}

#RinconPulse2 {
  top: 255px;
  left: 221px
}

#RinconPulse3 {
  top: 84px;
  left: 749px
}

#Financiamiento {
  min-height: 400px;
  padding: 4rem 0 18rem
}

#Financiamiento,
#Financiamiento .wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center
}

#Financiamiento .wrap {
  -ms-flex-direction: column;
  flex-direction: column
}

#Financiamiento h1 {
  right: 8rem;
  text-align: right;
  font-size: 5.5rem;
  font-weight: 800;
  line-height: 1.3;
  z-index: 100;
  -ms-flex-item-align: end;
  align-self: flex-end;
  margin-bottom: 2rem
}

#Financiamiento h1 span {
  color: #ceca38
}

.financiamiento_overlay {
  background-color: #fff;
  width: 540px;
  height: 325px;
  z-index: 55;
  color: #000;
  padding: 5.5rem 5rem;
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  box-shadow: 1px 1px 8px 1px #00000082
}

.financiamiento_overlay img {
  width: 5rem
}

.financiamiento_overlay article p {
  font-size: 1.5rem;
  font-family: source-serif-pro, serif;
  font-weight: 800;
  letter-spacing: 1px;
  line-height: 1.8
}

.financiamiento_reservar {
  font-size: 2.5rem;
  font-weight: 800;
  margin-top: 10rem;
  padding: 1.75rem 1rem;
  border: 2px solid #000;
  background-color: #ceca38;
  cursor: pointer;
}

.financiamiento_reservar:hover {
  color: #ceca39;
  background-color: black;
}

#Mapa {
  background-color: #000;
  height: 400px;
  position: relative
}

#Mapa p {
  color: #6da402;
  position: absolute;
  right: 3rem;
  top: 2rem;
  line-height: 1.4;
  text-align: right
}

#Mapa .mapa-circle {
  height: 500px;
  width: 500px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 250px);
  left: calc(50% - 250px);
  z-index: 10;
  border: 8px solid #000;
  overflow: hidden
}

#Mapa .mapa-circle iframe {
  width: 100%;
  height: 100%;
  border-radius: 50%
}

#Mapa img {
  width: 150px;
  position: absolute;
  top: -85px;
  left: 80px
}

footer {
  display: -ms-flexbox;
  display: flex;
  background-color: #cecece;
  color: #fff;
  padding: 1rem 4rem 2rem;
  -ms-flex-align: center;
  align-items: center
}

footer a {
  color: #fff;
  text-decoration: none;
  margin-left: auto;
  letter-spacing: 3px;
  font-size: 1.7rem;
  font-weight: 800
}

footer img {
  width: 17rem
}

#Galeria {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}

.galeria-slick-item {
  max-height: 800px;
  overflow-y: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#Galeria img {
  width: 100%
}

ul.slick-dots {
  position: absolute;
  display: flex;
  bottom: 3rem;
}

ul.slick-dots li button {
  font-size: 0;
  background-color: white;
  border-radius: 50%;
  border: none;
  height: 1.5rem;
  width: 1.5rem;
  box-sizing: border-box;
  margin: 0 1rem;
  cursor: pointer;
}

ul.slick-dots li.slick-active button {
  background-color: #161620;
}

a {
  color: inherit;
  text-decoration: none;
}

.form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
  background-color: rgba(187, 187, 187, 0.808);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: scale(0, 0);
  transition: 150ms all ease;
}

.form-overlay.form-overlay-open {
  transform: scale(1, 1);
}

.form-overlay h2 {
  font-size: 2.5rem;
  line-height: 1.6;
  font-weight: 700;
  width: 80%;
  text-align: center;
  margin-bottom: 6rem;
  color: #383838;
}

.form-overlay .Informacion-right {
  margin: auto;
  width: 90%;
  max-width: 800px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(#f0f0f0, #e5e5e5);
  padding: 10rem 0 5rem;
  border-radius: 6px;
  box-shadow: 0px 5px 20px #80808054, 0px 1px 4px 1px #8e8e8e9c;
  position: relative;
  transform: scale(0.75);
}

.form-overlay .Informacion-right .Informacion-right-volver {
  position: absolute;
  left: 3rem;
  top: 3rem;
  cursor: pointer;
}

.form-overlay .Informacion-right .Informacion-right-volver p {
  font-size: 1.3rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.form-overlay .Informacion-right form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.form-overlay .Informacion-right form input,
.form-overlay .Informacion-right form textarea {
  border: none;
  border-radius: 8px;
  padding: 1.5rem;
  width: 80%;
  margin: 1rem 0;
  font: inherit;
  letter-spacing: -1px;
}

.form-overlay .Informacion-right form textarea {
  height: 100px;
  resize: none;
  font: inherit;
}

.form-overlay .Informacion-right .btn-enviar {
  margin-bottom: 0;
  margin-top: 2rem;
  border: 1px solid #161620;
  padding: 1.25rem 2.5rem;
}

.fixed-bar {
  z-index: 1000;
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: #161620;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  box-sizing: border-box;
}

.fixed-bar img {
  height: 4rem;
}

.fixed-bar h2 {
  letter-spacing: 3px;
  margin-left: auto;
  margin-right: 2rem;
  font-size: 1.4rem;
}

.fixed-bar .btn-comprar {
  color: white;
  background-color: #d39700;
  padding: 0.75rem 1.25rem;
}

.btn {
  padding: 1.5rem 2rem;
  font-weight: 400;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 1.3rem;
  letter-spacing: 2px;
  background: none;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  * {
    box-sizing: border-box;
  }

  .form-overlay .Informacion-right {
    padding: 7.6rem 0 4.6rem;
    width: 100%;
    transform: scale(0.85);
  }

  .form-overlay .Informacion-right h2 {
    width: 90%;
    line-height: 1.2;
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }

  .form-overlay .Informacion-right form input,
  .form-overlay .Informacion-right form textarea {
    padding: 1rem;
    margin: 0.5rem 0;
  }

  .hidden-in-mobile {
    display: none;
  }

  .fixed-bar {
    justify-content: center;
  }

  .header-2 {
    height: 10rem;
    margin-top: 3.25rem;
  }

  .header-2 h1 {
    top: initial;
    font-size: 3rem;
    bottom: 6rem;
    right: 10%;
    letter-spacing: 1rem;
  }

  .header-4 {
    height: initial;
  }

  .header-4 h1 {
    position: initial;
    font-size: 4rem;
    letter-spacing: 1rem;
    width: 75%;
  }

  .header-4_redes {
    position: initial;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .header-4_redes a {
    align-self: center;
  }

  .header-4_overlay {
    position: relative;
    top: initial;
    left: initial;
    right: initial;
    width: 90%;
    height: initial;
    margin-top: 195px;
  }

  .header-4_overlay img {
    margin-top: 2rem;
  }

  .header-4_overlay_overlay {
    right: -2%;
    top: initial;
    bottom: 0;
  }

  .header-4_overlay_overlay p {
    font-size: 2rem;
  }

  .wrap {
    width: 100%;
  }

  .header-4 .wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;
  }

  .header-4_buttons {
    display: none;
  }

  .pulse {
    display: none;
  }

  .layout {
    width: 95%;
  }

  #Background-wrap .w1 .wrap {
    padding-bottom: 6rem;
    margin: 0;
    justify-content: center;
  }

  #Background-wrap .w1 .wrap h1 {
    right: 5%;
    top: -25px;
    font-size: 4rem;
  }



  #Background-wrap .w1 .wrap img {
    object-fit: cover;
    height: 60vh;
  }

  .yt {
    height: initial !important;
  }

  .h1wrap {
    margin: 0;
    justify-content: center;
  }

  .w2 {
    padding: 0;
    margin-bottom: 0;
    height: initial;
  }

  .w2 .wrap {
    margin: 0;
    padding: 0;
    padding-bottom: 3rem;
  }

  #Financiamiento h1 {
    font-size: 3.5rem;
    margin-right: 5%;
    margin-bottom: 6rem;
  }

  #Rincon {
    padding: 0;
    height: initial;
  }

  #Rincon .wrap {
    padding-bottom: 7rem;
  }

  .dormitorios {
    background-color: #c6c457;
    width: 100%;
    padding: 1rem 3rem;
    position: initial;
  }

  .financiamiento_overlay article p {
    font-size: 1.4rem;
  }

  .layout {
    margin-top: 3rem;
  }

  .dormitorios h3 {
    text-align: center;
  }

  .dormitorios-bar {
    background-color: initial;
  }

  .rincon-reserva {
    bottom: 0rem;
  }

  .rincon-reserva p {
    font-size: 2rem;
  }

  #Financiamiento {
    padding-bottom: 6rem;
  }

  .financiamiento_reservar {
    margin-top: 6rem;
  }

  .financiamiento_overlay {
    width: 90%;
    height: initial;
  }

  .financiamiento_overlay img {
    margin-top: 3rem;
  }

  #Mapa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #Mapa .mapa-circle {
    width: 100%;
    height: 400px;
    position: initial;
    border-radius: initial;
  }

  #Mapa .mapa-circle iframe {
    border-radius: initial;
  }

  #Mapa p {
    position: initial;
    text-align: center;
    margin: 1rem 0 2rem 0;
  }

  footer {
    flex-wrap: wrap;
    justify-content: center;
  }

  footer a {
    margin: 0;
  }

  footer img {
    margin-bottom: 2rem;
  }
}
